[submodule "extlibs/Catch2"]
	path = extlibs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extlibs/OpenGL-Registry"]
	path = extlibs/OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry
